body{
  background-color: #eee6c0;
}

#title{
  color: rgb(23, 18, 83);
}

.js-clock{
  text-align: center;
}

.js-clock > .comment{
  font-size: 0.5rem;
}

.js-clock > h1{
  color: #1a1b35;
}

.greeting-container{
  height: 5em;
  text-align: center;
}

.form,
.greeting,
.reset-btn{
  display: none;
}

.showing{
  display: block;
}